@use "./modules/vars" as vars;

#bookDiv {
  width: 41rem;
  background: url("../images/font-book.jpg");
  height: 50rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-left: 1rem solid;
  border-image: url("../images/font-book.jpg");
  font-size: 1.5rem;
  position: relative;
  z-index: 10;

  .contentBook {
    border-radius: 2px;
    border: 2px solid vars.$border-color-book;
    background-color: vars.$bg-color-into;
    padding: 1rem;
  }

  & > div:nth-child(1) {
    font-size: 3rem;
    width: fit-content;
    margin: 4rem auto;
    font-weight: bold;
  }

  & > div:nth-child(2) {
    width: 80%;
    margin: 8rem auto 2rem auto;
    font-family: vars.$police-text;
  }

  & > div:nth-child(3) {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-weight: bold;
  }
}

#bookDivBack {
  width: 40.75rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/font-book.jpg");
  height: 50rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-left: 1.5rem solid;
  border-image: url("../images/font-book.jpg");
  font-size: 1.5rem;
  right: 9.7%;
  position: absolute;
  z-index: -1;
  box-shadow: 2px 2px 1px rgba(102, 93, 93, 1),4px 4px 2px rgba(148, 148, 148, 1),6px 6px 3px rgba(161, 161, 161, 1),8px 8px 4px rgba(176, 176, 176, 1);
}

.pages {
  display: none;
  width: 38rem;
  height: 48rem;
  background-color: vars.$bg-color-into;
  margin: 1rem auto;
}

.subPages {
  position: absolute;
  z-index: -2;
}

.boxShadow {
  box-shadow: 2px 2px 1px rgba(102, 93, 93, 1),4px 4px 2px rgba(148, 148, 148, 1),6px 6px 3px rgba(161, 161, 161, 1),8px 8px 4px rgba(176, 176, 176, 1);
}