@use "./modules/vars" as vars;

#bookDiv {
  width: 41rem;
  background: rgb(173,76,34);
  background: linear-gradient(45deg, rgba(173,76,34,1) 0%, rgba(225,86,26,1) 86%);
  height: 50rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-left: 1rem solid vars.$border-color-book;
  font-size: 1.5rem;
  position: relative;
  z-index: 10;

  .contentBook {
    border-radius: 2px;
    border: 2px solid vars.$border-color-book;
    background-color: vars.$bg-color-into;
    padding: 1rem;
  }

  & > div:nth-child(1) {
    font-size: 3rem;
    width: fit-content;
    margin: 4rem auto;
    font-weight: bold;
  }

  & > div:nth-child(2) {
    width: 80%;
    margin: 8rem auto 2rem auto;
    font-family: vars.$police-text;
  }

  & > div:nth-child(3) {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-weight: bold;
  }
}

#bookDivBack {
  width: 41rem;
  background-color: vars.$box-color-book;
  height: 50rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-left: 1.5rem solid vars.$border-color-book;
  font-size: 1.5rem;
  right: 9.7%;
  position: absolute;
  z-index: -1;
  box-shadow: rgb(66, 66, 66) 2px 2px 5px;
}

.pages {
  display: none;
  width: 38rem;
  height: 48rem;
  background-color: vars.$bg-color-into;
  margin: 1rem auto;
}

.subPages {
  position: absolute;
  z-index: -2;
}

.boxShadow {
  box-shadow: rgb(66, 66, 66) -2px 2px 5px;
}