@use "./modules/vars" as vars;

.pages {
  font-family: vars.$police-text;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  color: vars.$color-title;
  h1, h2 {
    text-align: center;
    color: vars.$color-title;
  }

  h1 {
    background-color: vars.$bg-color-into;
    padding: 0.8rem 0;
  }

  h2 {
    padding-top: 0.5rem;
    text-decoration-line: underline;
  }

  & > div {
    width: 98%;
    height: 98%;
    background-color: #dedede;
  }
}

#pageRight {
  position: relative;

  #buttonNext {
    position: absolute;
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;
  }
}

#pageRight, #subPageRight, #pageLeft {
  #buttonNext {
    position: absolute;
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;
  }
}

#pageLeft, #subPageLeft, #pageRight {
  #buttonPrevious {
    position: absolute;
    cursor: pointer;
    bottom: 1rem;
    left: 1rem;
  }
}

#pageLeft > div, #subPageLeft > div {
  transform: rotateY(180deg);
}

#subPageRight, #subPageLeft {
  box-shadow: 2px 1px 0 darken(vars.$bg-color-into, 20%), 4px 2px 0 darken(vars.$bg-color-into, 30%), 6px 3px 0 darken(vars.$bg-color-into, 40%);
  position: absolute;
  top: 0;
  z-index: -2;
  left: 3.7%;
}