$bg-color-book: #e1561a;
$police-text: 'Comic Sans MS', sans-serif;
$border-color-book: darken($bg-color-book, 20%);
$box-color-book: darken($bg-color-book, 10%);
$bg-color-into: #f0f0f0;
$color-title: #02025e;